<!DOCTYPE html>
<html lang="en">
<head>
    <title>Join</title>
</head>
<body>
    Join a tournament.

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
</html>